:root {
  --mo-gray-05: #f2f2f2;
  --issue-1: #0080ff;
  --issue-2: #f2b946;
  --issue-3: #f18a8a;
  --issue-4: #e59c9c;
  --issue-5: #35c287;
  --issue-6: #87b699;
  --issue-7: #9dddb8;
  --program-1: #5191d1;
  --program-2: #82aedb;
  --program-3: #4ca6ff;
  --program-4: #99ccff;
  --program-5: #ff4f5e;
  --program-6: #ff7d88;
  --program-7: #f87c86;
  --program-8: #f7848e;
  --program-9: #ff04b1;
  --program-10: #ec56bd;
  --program-11: #dd489a;
  --program-12: #ff04b1;
  --program-13: #ff4857;
  --program-14: #fc5e6b;
  --program-15: #f07b85;
  --program-16: #fa7c86;
  --program-17: #f89099;
  --output-1: #008080;
  --output-2: #00b3b3;
  --output-3: #551c8d;
  --output-4: #7040a3;
  --output-5: #9d72c4;
  --output-6: #b397c5;
  --output-7: #b7b9fa;
  --output-8: #4e4c4c;
  --output-9: #666666;
  --output-10: #999999;
  --output-11: #cccccc;

}

// nodes
.rect.open-innovation {
  fill: var(--issue-1);
}
.rect.privacy-security {
  fill: var(--issue-2);
}
.rect.web-literacy {
  fill: var(--issue-3);
}
.rect.other-unavailable {
  fill: var(--issue-4);
}
.rect.decentralization {
  fill: var(--issue-5);
}
.rect.digital-inclusion {
  fill: var(--issue-6);
}
.rect.trustworthy-ai {
  fill: var(--issue-7);
}
.rect.web-literacy {
  fill: var(--issue-3);
}

.rect.moss {
  fill: var(--program-1);
}
.link.target-moss {
  stroke: var(--program-1);
}
.rect.responsible-cs-challenge {
  fill: var(--program-2);
}
.link.target-responsible-cs-challenge {
  stroke: var(--program-2);
}
.rect.mozilla-science-mini-grants {
  fill: var(--program-3);
}
.link.target-mozilla-science-mini-grants {
  stroke: var(--program-3);
}
.rect.open-science-fellows {
  fill: var(--program-4);
}
.link.target-open-science-fellows {
  stroke: var(--program-4);
}
.rect.gigabit-community-fund {
  fill: var(--program-5);
}
.link.target-gigabit-community-fund {
  stroke: var(--program-5);
}
.rect.open-news-fellows {
  fill: var(--program-6);
}
.link.target-open-news-fellows {
  stroke: var(--program-6);
}
.rect.open-web-fellows {
  fill: var(--program-7);
}
.link.target-open-web-fellows {
  stroke: var(--program-7);
}
.rect.discretionary-awards {
  fill: var(--program-8);
}
.link.target-discretionary-awards {
  stroke: var(--program-8);
}
.rect.fellow-in-residence-senior-fellows {
  fill: var(--program-9);
}
.link.target-fellow-in-residence-senior-fellows {
  stroke: var(--program-9);
}
.rect.tech-society-fellows {
  fill: var(--program-10);
}
.link.target-tech-society-fellows {
  stroke: var(--program-10);
}
.rect.creative-media-awards {
  fill: var(--program-11);
}
.link.target-creative-media-awards {
  stroke: var(--program-11);
}
.rect.tech-policy-fellows {
  fill: var(--program-12);
}
.link.target-tech-policy-fellows {
  stroke: var(--program-12);
}
.rect.other-programs {
  fill: var(--program-13);
}
.link.target-other-programs {
  stroke: var(--program-13);
}
.rect.hive {
  fill: var(--program-14);
}
.link.target-hive {
  stroke: var(--program-14);
}
.rect.advocacy-network-fund {
  fill: var(--program-15);
}
.link.target-advocacy-network-fund {
  stroke: var(--program-15);
}
.rect.mozilla-fellows {
  fill: var(--program-16);
}
.link.target-mozilla-fellows {
  stroke: var(--program-16);
}
.rect.nsf-wins {
  fill: var(--program-17);
}
.link.target-nsf-wins {
  stroke: var(--program-17);
}
.rect.general-operating-support {
  fill: var(--output-1);
}
.link.target-general-operating-support {
  stroke: var(--output-1);
}
.rect.software {
  fill: var(--output-2);
}
.link.target-software {
  stroke: var(--output-2);
}
.rect.curriculum-or-educational-resource {
  fill: var(--output-3);
}
.link.target-curriculum-or-educational-resource {
  stroke: var(--output-3);
}
.rect.other-not-available {
  fill: var(--output-4);
}
.link.target-other-not-available {
  stroke: var(--output-4);
}
.rect.public-resource {
  fill: var(--output-5);
}
.link.target-public-resource {
  stroke: var(--output-5);
}
.rect.art-or-media {
  fill: var(--output-6);
}
.link.target-art-or-media {
  stroke: var(--output-6);
}
.rect.research {
  fill: var(--output-7);
}
.link.target-research {
  stroke: var(--output-7);
}
.rect.capacity-building {
  fill: var(--output-8);
}
.link.target-capacity-building {
  stroke: var(--output-8);
}
.rect.workshop-or-convening {
  fill: var(--output-9);
}
.link.target-workshop-or-convening {
  stroke: var(--output-9);
}
.rect.policy-recommendations {
  fill: var(--output-10);
}
.link.target-policy-recommendations {
  stroke: var(--output-10);
}
.rect.hardware {
  fill: var(--output-11);
}
.link.target-hardware {
  stroke: var(--output-11);
}

#container {
  display: flex;
  justify-content: center;
  margin: 4rem;
}

.node rect {
  fill-opacity: 0.9;
  shape-rendering: crispEdges;
}

.link {
  fill: none;
  // stroke: teal;
  stroke-opacity: 0.2;
}

.link:hover {
  stroke-opacity: 0.5;
}

.tooltip {
  position: absolute;
  background-color: var(--mo-gray-05);
  width: 20rem;
  padding: 8px;
  font-family: sans-serif;
}

.issue-title,
.detail-heading {
  font-size: 1rem;
  font-weight: 700;
  display: block;
}

.total-programs,
.total-awards {
  font-size: 0.8rem;
}

.total-programs {
  font-weight: 700;
}

.node {
}
