:root {
  --mo-gray-05: #f2f2f2;
  --issue-1: #1a1a49;
  --issue-2: #31315c;
  --issue-3: #48486d;
  --issue-4: #5f5f80;
  --issue-5: #767692;
  --issue-6: #8c8ca3;
  --issue-7: #a3a3b6;
  --program-1: #277da1;
  --program-2: #f9844a;
  --program-3: #f8961e;
  --program-4: #4d908e;
  --program-5: #f3722c;
  --program-6: #43aa8b;
  --program-7: #f94144;
  --program-8: #90be6d;
  --program-9: #c43437;
  --program-10: #f9c74f;
  --program-11: #2d5480;
  --program-12: #662d91;
  --program-13: #234061;
  --program-14: #1e3753;
  --program-15: #39669c;
  --program-16: #15273c;
  --program-17: #471f61;
  --output-1: #000000;
  --output-2: #121212;
  --output-3: #2d2d2d;
  --output-4: #414141;
  --output-5: #535353;
  --output-6: #646464;
  --output-7: #737373;
  --output-8: #7f7f7f;
  --output-9: #8c8c8c;
  --output-10: #989898;
  --output-11: #a2a2a2;
}

.rect.privacy-security {
  fill: var(--issue-1);
  stroke: solid 2px var(--issue-1);
}

.rect.open-innovation {
  fill: var(--issue-2);
  stroke: solid 2px var(--issue-2);
}

.rect.digital-inclusion {
  fill: var(--issue-3);
  stroke: solid 2px var(--issue-3);
}

.rect.web-literacy {
  fill: var(--issue-4);
  stroke: solid 2px var(--issue-4);
}

.rect.decentralization {
  fill: var(--issue-5);
  stroke: solid 2px var(--issue-5);
}

.rect.trustworthy-ai {
  fill: var(--issue-6);
  stroke: solid 2px var(--issue-6);
}

.rect.other-unavailable {
  fill: var(--issue-7);
  stroke: solid 2px var(--issue-7);
}

.rect.advocacy-network-fund {
  fill: var(--program-1);
  stroke: solid 2px var(--program-1);
}

.link.target-advocacy-network-fund {
  stroke: var(--program-1);
}

.link.source-advocacy-network-fund {
  stroke: var(--program-1);
}

.rect.creative-media-awards {
  fill: var(--program-2);
  stroke: solid 2px var(--program-2);
}

.link.target-creative-media-awards {
  stroke: var(--program-2);
}

.link.source-creative-media-awards {
  stroke: var(--program-2);
}

.rect.discretionary-awards {
  fill: var(--program-3);
  stroke: solid 2px var(--program-3);
}

.link.target-discretionary-awards {
  stroke: var(--program-3);
}

.link.source-discretionary-awards {
  stroke: var(--program-3);
}

.rect.fellow-in-residence-senior-fellows {
  fill: var(--program-4);
  stroke: solid 2px var(--program-4);
}

.link.target-fellow-in-residence-senior-fellows {
  stroke: var(--program-4);
}

.link.source-fellow-in-residence-senior-fellows {
  stroke: var(--program-4);
}

.rect.gigabit-community-fund {
  fill: var(--program-5);
  stroke: solid 2px var(--program-5);
}

.link.target-gigabit-community-fund {
  stroke: var(--program-5);
}

.link.source-gigabit-community-fund {
  stroke: var(--program-5);
}

.rect.hive {
  fill: var(--program-6);
  stroke: solid 2px var(--program-6);
}

.link.target-hive {
  stroke: var(--program-6);
}

.link.source-hive {
  stroke: var(--program-6);
}

.rect.moss {
  fill: var(--program-7);
  stroke: solid 2px var(--program-7);
}

.link.target-moss {
  stroke: var(--program-7);
}

.link.source-moss {
  stroke: var(--program-7);
}

.rect.mozilla-fellows {
  fill: var(--program-8);
  stroke: solid 2px var(--program-8);
}

.link.target-mozilla-fellows {
  stroke: var(--program-8);
}

.link.source-mozilla-fellows {
  stroke: var(--program-8);
}

.rect.mozilla-science-mini-grants {
  fill: var(--program-9);
  stroke: solid 2px var(--program-9);
}

.link.target-mozilla-science-mini-grants {
  stroke: var(--program-9);
}

.link.source-mozilla-science-mini-grants {
  stroke: var(--program-9);
}

.rect.nsf-wins {
  fill: var(--program-10);
  stroke: solid 2px var(--program-10);
}

.link.target-nsf-wins {
  stroke: var(--program-10);
}

.link.source-nsf-wins {
  stroke: var(--program-10);
}

.rect.open-news-fellows {
  fill: var(--program-11);
  stroke: solid 2px var(--program-11);
}

.link.target-open-news-fellows {
  stroke: var(--program-11);
}

.link.source-open-news-fellows {
  stroke: var(--program-11);
}

.rect.open-science-fellows {
  fill: var(--program-12);
  stroke: solid 2px var(--program-12);
}

.link.target-open-science-fellows {
  stroke: var(--program-12);
}

.link.source-open-science-fellows {
  stroke: var(--program-12);
}

.rect.open-web-fellows {
  fill: var(--program-13);
  stroke: solid 2px var(--program-13);
}

.link.target-open-web-fellows {
  stroke: var(--program-13);
}

.link.source-open-web-fellows {
  stroke: var(--program-13);
}

.rect.other-programs {
  fill: var(--program-14);
  stroke: solid 2px var(--program-14);
}

.link.target-other-programs {
  stroke: var(--program-14);
}

.link.source-other-programs {
  stroke: var(--program-14);
}

.rect.responsible-cs-challenge {
  fill: var(--program-15);
  stroke: solid 2px var(--program-15);
}

.link.target-responsible-cs-challenge {
  stroke: var(--program-15);
}

.link.source-responsible-cs-challenge {
  stroke: var(--program-15);
}

.rect.tech-society-fellows {
  fill: var(--program-16);
  stroke: solid 2px var(--program-16);
}

.link.target-tech-society-fellows {
  stroke: var(--program-16);
}

.link.source-tech-society-fellows {
  stroke: var(--program-16);
}

.rect.tech-policy-fellows {
  fill: var(--program-17);
  stroke: solid 2px var(--program-17);
}

.link.target-tech-policy-fellows {
  stroke: var(--program-17);
}

.link.source-tech-policy-fellows {
  stroke: var(--program-17);
}

.rect.capacity-building {
  fill: var(--output-1);
  stroke: solid 2px var(--output-1);
}

.rect.public-resource {
  fill: var(--output-2);
  stroke: solid 2px var(--output-2);
}

.rect.workshop-or-convening {
  fill: var(--output-3);
  stroke: solid 2px var(--output-3);
}

.rect.curriculum-or-educational-resource {
  fill: var(--output-4);
  stroke: solid 2px var(--output-4);
}

.rect.general-operating-support {
  fill: var(--output-5);
  stroke: solid 2px var(--output-5);
}

.rect.software {
  fill: var(--output-6);
  stroke: solid 2px var(--output-6);
}

.rect.hardware {
  fill: var(--output-7);
  stroke: solid 2px var(--output-7);
}

.rect.policy-recommendations {
  fill: var(--output-8);
  stroke: solid 2px var(--output-8);
}

.rect.art-or-media {
  fill: var(--output-9);
  stroke: solid 2px var(--output-9);
}

.rect.research {
  fill: var(--output-10);
  stroke: solid 2px var(--output-10);
}

.rect.other-not-available {
  fill: var(--output-11);
  stroke: solid 2px var(--output-11);
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#container {
  position: absolute;
  width: 100%;
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  justify-content: center;
}

#container-header {
  display: block;
  font-family: "Zilla Slab", serif;
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.node rect {
  shape-rendering: crispEdges;
}

.link {
  fill: none;
  stroke-opacity: 0.3;
}

#tooltip {
  position: absolute;
  font-family: "Nunito Sans", sans-serif;
  background-color: var(--mo-gray-05);
  width: calc(100% / 3);
  padding: 8px;
  visibility: hidden;
  transition: visibility 0.4s ease;
  opacity: 0.85;
}
@media screen and (max-width: 768px) {
  #tooltip {
    width: 75%;
  }
}

#tooltip.visible {
  visibility: visible;
}

text {
  font-family: "Nunito Sans", sans-serif;
  font-size: 0.7rem;
  display: inline-block;
}
@media screen and (max-width: 768px) {
  text {
    display: none;
  }
}

.issue-title {
  font-size: 1.6rem;
  font-weight: 700;
  display: block;
  font-family: "Zilla Slab", serif;
  padding: 4px 0;
}

.detail-heading {
  font-family: "Nunito Sans", sans-serif;
  font-size: 1rem;
  font-weight: 700;
  display: block;
  padding: 4px 0;
}

.total-programs {
  font-size: 1rem;
  font-weight: 700;
}

.programs-count,
.total-awards {
  font-weight: 400;
  padding: 4px 0;
}

.total-investment {
  font-weight: 700;
  padding: 4px 0;
}

/*# sourceMappingURL=/styles.164d45a1.css.map */